/***********************
*        HTML          *
***********************/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/***********************
*  Corps du site       *
***********************/
body {
    background-image: url('Images/Etudiants2010.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-size: 110.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

/***********************
*    Bloc Principal    *
***********************/
#bloc-principal {
    position: static;
    height: auto;
    display: block;
    min-height: 90%;
}

/***********************
*        Logo          *
***********************/
#logo {
    position: static;
    margin-top: 1%;
    margin-left: 4%;
}

/**************************
* Barre latérale : Menu   *
**************************/
#sidebar {
    text-align: center;
    padding-bottom: 2%;
    width: 17%;
    position: fixed;
    margin-left: 3%;
    margin-top: 2%;
    display: inline-block;
}

@import url(http://fonts.googleapis.com/css?family=Lato);
@charset 'UTF-8';
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    position: relative;
}

#cssmenu a {
    line-height: 1.3;
    padding: 6px 15px;
}

#cssmenu {
    width: 90%;
    margin-left: 5%;
}

#cssmenu > ul > li {
    cursor: pointer;
    background: #000;
    border-bottom: 1px solid #797a80;
}

#cssmenu > ul > li:last-child {
    border-bottom: 1px solid #3e3d3c;
}

#cssmenu > ul > li > a {
    font-size: 16px;
    display: block;
    color: #ffffff;
    text-shadow: 0 1px 1px #000;
    background: #6a6b72;
    background: -moz-linear-gradient(#6a6b72 0%, #4c4e53 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a6b72), color-stop(100%, #4c4e53));
    background: -webkit-linear-gradient(#6a6b72 0%, #4c4e53 100%);
    background: linear-gradient(#6a6b72 0%, #4c4e53 100%);
}

    #cssmenu > ul > li > a:hover {
        text-decoration: none;
    }

#cssmenu > ul > li.active {
    border-bottom: none;
}

#cssmenu > ul > li.active > a {
    background: #a5ce27;
    background: -moz-linear-gradient(#a5ce27 0%, #709400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5ce27), color-stop(100%, #709400));
    background: -webkit-linear-gradient(#a5ce27 0%, #709400 100%);
    background: linear-gradient(#a5ce27 0%, #709400 100%);
    color: #4e5800;
    text-shadow: 0 1px 1px #a5ce27;
}

#cssmenu > ul > li.has-sub > a:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #ffffff;
}

#cssmenu > ul > li.has-sub.active > a:after {
    right: 14px;
    top: 12px;
    border: 5px solid transparent;
    border-top: 5px solid #4e5800;
}

/* Sub menu */
#cssmenu ul ul {
    padding: 0;
    display: none;
}

#cssmenu ul ul a {
    background: #efefef;
    display: block;
    color: #797979;
    font-size: 16px;
}

#cssmenu ul ul li {
    border-bottom: 1px solid #c9c9c9;
}

#cssmenu ul ul li.odd a {
    background: #e5e5e5;
}

#cssmenu ul ul li:last-child {
    border: none;
}

/**************************
*     Contenu principal   *
**************************/
#maincontent {
    margin-top: 2%;
    position: static;
    z-index: -1;
    width: 70%;
    height: auto;
    display: block;
    margin-left: 25%;
}

/**************************
*     Pied de page        *
**************************/
#footer {
    z-index: 1;
    padding-top: 2%;
    height: 100px;
    background-image: linear-gradient(rgb(0, 0, 0) 1%, rgb(90, 90, 90) 98%, rgb(60, 60, 60) 0%);
    text-align: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    min-height: 10%;
    display: block;
}

    #footer ul {
        margin-left: 27%;
    }

    #footer li {
        float: left;
        width: 15%;
        list-style-type: none;
    }

    #footer a {
        text-decoration: none;
        color: white;
        margin-right: 10%;
    }

/*************************************************
*     Barre horizontale du menu principal        *
*************************************************/
/*  */
#horizontalbar {
    width: 73%;
    border-radius: 5px 10px 0px 5px;
    box-shadow: 8px 8px 12px rgb(170, 170, 170);
    position: static;
    float: left;
    margin-top: -6%;
    margin-left: 23%;
}

#menu-accordeon {
    padding: 0px;
    margin: 0;
    list-style: none outside none;
    text-align: center;
    width: 104%;
    overflow: hidden;
}

    #menu-accordeon ul {
        padding: 0px;
        margin: 0px;
        list-style: none outside none;
        text-align: center;
        width: 104%;
        overflow: hidden;
        height: inherit;
    }

    #menu-accordeon li {
        color: grey;
        font-weight: bold;
        background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
        text-transform: uppercase;
        box-shadow: 3px 3px 3px rgb(153, 153, 153);
        line-height: 58px;
        width: 16%;
        text-align: center;
        height: auto;
        float: left;
        background-color: #f0f0f0;
    }

        #menu-accordeon li li {
            border-radius: 0px;
            background: none repeat scroll 0% 0% rgb(68, 68, 68);
            box-shadow: none;
            margin: 0px;
            text-transform: none;
            color: white;
            transition: all 0.5s ease 0s;
            float: none;
            max-height: 0;
            width: 100%;
            line-height: 30px;
        }

        #menu-accordeon li a {
            display: block;
            text-decoration: none;
            padding: 8px 0;
            color: grey;
        }

        #menu-accordeon li a, #menu-accordeon li:hover li a {
            font-size: 1em;
        }

            #menu-accordeon li a:hover, a:active {
                background-image: -webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
                background-image: -moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
                background-image: -o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
                background-image: -ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
                background-image: linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
                /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
                box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
                -moz-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
                -webkit-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
                /* This will create a smooth transition for the opacity property */
                -moz-transition: 0.25s all;
                -webkit-transition: 0.25s all;
                -o-transition: 0.25s all;
                transition: 0.25s all;
            }

        #menu-accordeon li ul {
            position: absolute;
            width: auto;
            display: block;
            width: 12%;
        }

        #menu-accordeon li li a {
            color: white;
            padding: 0;
            margin: 0;
            background: linear-gradient(rgb(106, 107, 114) 0%, rgb(76, 78, 83) 100%) repeat scroll 0% 0% transparent;
        }

        #menu-accordeon li li:hover {
            background: #999;
        }

        #menu-accordeon li:hover li {
            max-height: 15em;
        }

/**************************
*    BasicContentHolder   *
**************************/
#BasicContentHolder {
    position: static;
    height: 100%;
    display: block;
    width: 100%;
    margin-top: -4%;
    min-height: 100%;
}

/**************************
*    InscriptionContent   *
**************************/
#inscriptionContent {
    position: static;
    height: auto;
    margin-bottom: 22%;
    width: 76%;
    padding-left: 24%;
}

    #inscriptionContent fieldset {
        margin-bottom: 15px;
        padding: 10px;
    }

    #inscriptionContent legend {
        padding: 0px 3px;
        font-weight: bold;
        font-variant: small-caps;
    }

    #inscriptionContent label {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin: 6px;
    }

    #inscriptionContent em {
        font-weight: bold;
        font-style: normal;
        color: #f00;
    }

    #inscriptionContent input:focus {
        background: #eaeaea;
    }

    #inscriptionContent input, #inscriptionContent textarea {
        width: 249px;
    }

    #inscriptionContent textarea {
        height: 100px;
    }

    #inscriptionContent input[type=submit] {
        width: 150px;
        padding: 10px;
        margin-left: 39%;
    }

/**************************
*    Bouton submit        *
**************************/
input[type=submit] {
    border-style: none;
    border-color: inherit;
    border-width: 1px;
    width: 65%;
    padding: 3%;
    border-radius: 5px 10px 0px 5px;
    color: grey;
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(240, 240, 240) 50%, rgb(230, 230, 230) 51%);
}

    input[type=submit]:hover {
        background-image: linear-gradient(rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    }

/**************************
*          Cercles        *
**************************/
#circle {
    width: 400px;
    height: 400px;
    position: static;
    background-color: rgba(30, 176, 24,0.85);
    -moz-border-radius: 400px;
    -webkit-border-radius: 400px;
    border-radius: 400px;
    list-style-type: none;
    margin-left: 30%;
    margin-top: 100px;
    z-index: -1;
}

    #circle p {
        height: 50px;
        line-height: 33px;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        margin-top: 0px;
        font-family: verdana,arial,helvetica,sans-serif;
        color: white;
        font-size: 200.01%;
        z-index: -1;
    }

#circlesPanel {
    position: absolute;
    width: 69%;
    margin-left: -2%;
    z-index: -1;
}

#circle1 {
    width: 22%;
    height: 210px;
    position: absolute;
    border-radius: 50%;
    margin-top: 4%;
}

#circle2 {
    width: 22%;
    height: 210px;
    position: absolute;
    border-radius: 50%;
    margin-top: 4%;
    margin-left: 23%;
}

#circle3 {
    margin-left: 46%;
    width: 22%;
    height: 210px;
    margin-top: 4%;
    border-radius: 50%;
    position: absolute;
}

#circle4 {
    margin-left: 69%;
    width: 22%;
    height: 210px;
    position: absolute;
    border-radius: 50%;
    margin-top: 4%;
}

#circle5 {
    margin-left: 11%;
    margin-top: 25%;
    width: 22%;
    height: 210px;
    position: absolute;
    border-radius: 50%;
}

#circle6 {
    width: 22%;
    height: 210px;
    position: absolute;
    margin-left: 35%;
    margin-top: 26%;
    border-radius: 50%;
}

#circle7 {
    width: 22%;
    height: 210px;
    position: absolute;
    margin-left: 59%;
    margin-top: 26%;
    border-radius: 50%;
}

#circle8 {
    width: 24%;
    height: 222px;
    position: absolute;
    border-radius: 50%;
    margin-left: 83%;
    margin-top: 26%;
}

/* Type de menu */



/***********************
*    CSS de BonPlan    *
***********************/
#menuBonPlan {
    background-image: linear-gradient(rgb(254, 254, 254) 14%, rgb(240, 240, 240) 50%, rgb(230, 230, 230) 75%);
    width: 83%;
    margin-left: 6%;
    border-radius: 2%;
    padding: 2% 2% 2%;
}

    #menuBonPlan img {
        width: 2%;
    }

    #menuBonPlan form {
        float: right;
        width: 38%;
        font: 18px Georgia,serif;
        color: rgb(100, 100, 100);
    }

    #menuBonPlan a {
        font: 18px Georgia, serif;
        color: #646464;
        text-decoration: none;
    }

.styled-select {
    width: 50%;
    height: 30px;
    overflow: hidden;
    background: url('Images/down_arrow_select.jpg') no-repeat right #ddd;
    border: 1px solid #ccc;
    margin-top: -1%;
    margin-right: 21%;
}

    .styled-select select {
        background: transparent;
        width: 268px;
        padding: 5px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 34px;
        -webkit-appearance: none;
        font: 18px Georgia, serif;
        color: #646464;
    }

/****************
*    Bon Plan   *
****************/
#BonPlan {
    background-image: linear-gradient(rgb(254, 254, 254) 14%, rgb(240, 240, 240) 50%, rgb(230, 230, 230) 75%);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

img.imageBonplan {
    width: 20%;
}

#dateBonPlan {
    color: GrayText;
    text-transform: uppercase;
}

#dateBonPlan {
    width: 30%;
}

.cat-date {
    margin-bottom: 10px;
}

.post-teaser {
    overflow: hidden;
}

.readMore {
    border-top: 1px solid #bdbdbd;
    line-height: 17px;
    padding-top: 9px;
    margin-top: 5%;
}

.post-teaser img {
    margin: 0 11px 11px 0;
    border: 1px solid #cacaca;
    padding: 3px;
    float: left;
}

.post-teaser .text {
    margin-left: 1%;
    text-align: justify;
}

    .post-teaser .text p {
        line-height: 23px;
        height: 89px;
    }

#BonPlan h2 {
    color: #646464;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 2%;
}

.author em {
    font: 18px Georgia, serif;
    color: #646464;
    margin-top: -3px;
}

.cat-date em {
    font: 18px Georgia, serif;
    color: #646464;
    text-decoration: none;
}

.cat-date a, .readMore a {
    font: 18px Georgia, serif;
    color: #646464;
    text-decoration: none;
}

.rating {
    direction: rtl;
    float: right;
}

    .rating a {
        color: #aaa;
        text-decoration: none;
        font-size: 2em;
        transition: color .4s;
    }

        .rating a:hover,
        .rating a:focus,
        .rating a:hover ~ a,
        .rating a:focus ~ a {
            color: orange;
            cursor: pointer;
        }


/****************
*     Troc      *
****************/

#menuTroc {
    background-image: linear-gradient(rgb(254, 254, 254) 14%, rgb(240, 240, 240) 50%, rgb(230, 230, 230) 75%);
    width: 83%;
    margin-left: 6%;
    border-radius: 2%;
    padding: 2% 2% 2%;
}

    #menuTroc img {
        width: 2%;
    }

    #menuTroc form {
        float: right;
        width: 38%;
        font: 18px Georgia,serif;
        color: rgb(100, 100, 100);
    }

    #menuTroc a {
        font: 18px Georgia, serif;
        color: #646464;
        text-decoration: none;
    }

.styled-select {
    width: 50%;
    height: 30px;
    overflow: hidden;
    background: url('Images/down_arrow_select.jpg') no-repeat right #ddd;
    border: 1px solid #ccc;
    margin-top: -1%;
    margin-right: 21%;
}

    .styled-select select {
        background: transparent;
        width: 268px;
        padding: 5px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 34px;
        -webkit-appearance: none;
        font: 18px Georgia, serif;
        color: #646464;
    }

#Troc {
    background-image: linear-gradient(rgb(254, 254, 254) 14%, rgb(240, 240, 240) 50%, rgb(230, 230, 230) 75%);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

img.imageTroc {
    width: 20%;
}

#dateTroc {
    color: GrayText;
    text-transform: uppercase;
}

#dateTroc {
    width: 30%;
}

.cat-date {
    margin-bottom: 10px;
}

.post-teaser {
    overflow: hidden;
}

.readMore {
    border-top: 1px solid #bdbdbd;
    line-height: 17px;
    padding-top: 9px;
    margin-top: 5%;
}

.post-teaser img {
    margin: 0 11px 11px 0;
    border: 1px solid #cacaca;
    padding: 3px;
    float: left;
}

.post-teaser .text {
    margin-left: 1%;
    text-align: justify;
}

    .post-teaser .text p {
        line-height: 23px;
        height: 89px;
    }

#Troc h2 {
    color: #646464;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 2%;
}

.author em {
    font: 18px Georgia, serif;
    color: #646464;
    margin-top: -3px;
}

.cat-date em {
    font: 18px Georgia, serif;
    color: #646464;
    text-decoration: none;
}

.cat-date a, .readMore a {
    font: 18px Georgia, serif;
    color: #646464;
    text-decoration: none;
}

.rating {
    direction: rtl;
    float: right;
}

    .rating a {
        color: #aaa;
        text-decoration: none;
        font-size: 2em;
        transition: color .4s;
    }

        .rating a:hover,
        .rating a:focus,
        .rating a:hover ~ a,
        .rating a:focus ~ a {
            color: orange;
            cursor: pointer;
        }


/**************************
*        Transport        *
**************************/
#Transport {
    background: white;
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

#TransportCorp {
    background-color: rgb(225, 226, 241);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 2%;
}
#TransportBottomLeft {
    width: 30%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 2%;
    background: rgb(237, 238, 239);

}
#TransportBottomRight {
    width : 40%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 2%;
    margin-top:-19%;
    background: rgb(237, 238, 239);
}

#Menu_Transport1 {
    background: white;
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

#Menu_Transport2 {
    background: white;
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

#Menu_Transport3 {
    background: white;
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

#Menu_Transport4 {
    background: white;
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}
#Autolib {
    background: rgb(237, 238, 239);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

#Autolib2 {
    background-color: rgb(237, 238, 239);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 2%;
}
#AutolibBottomLeft {
    width: 30%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 2%;
    background: rgb(237, 238, 239);

}
#AutolibBottomRight {
    width : 40%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 2%;
    margin-top:-15%;
    background: rgb(237, 238, 239);
}
#SNCF {
    background: white;
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

#SNCFCorp {
    background-color: rgb(225, 226, 241);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 2%;
}
#SNCFBottomLeft {
    width: 30%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 2%;
    background: rgb(237, 238, 239);

}
#Velib {
    background: white;
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 0%;
}

#VelibCorp {
    background-color: rgb(237, 238, 239);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 2%;
}
#VelibCorp2 {
    background-color: rgb(237, 238, 239);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 2%;
}
#VelibCorp3 {
    background-color: rgb(237, 238, 239);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 2%;
}
#VelibCorp4 {
    background-color: rgb(237, 238, 239);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 2%;
    padding-top: 2%;
}

/**************************
*          Tchat          *
**************************/

#Tchat {
    background-image: linear-gradient(rgb(254, 254, 254) 14%, rgb(240, 240, 240) 50%, rgb(230, 230, 230) 75%);
    width: 83%;
    margin-left: 6%;
    margin-bottom: 4%;
    border-radius: 2%;
    padding: 0% 2% 2%;
}
